*.pyc
*.swp
test.db*
*.log
sabot/privateSettings.py
sabot/local_settings.py
sabot/conferenceSettings.py
templates/sponsor/internalFaq.html
templates/sponsor/publicFaq.html
*.db
media/*
static/GitHub-Mark-32px.png
d10env
venv
.idea
*.bck
*.old
email_files
