*.db
test.db*
*.pyc
*.swp
*.log
sabot/settings.py
sabot/prodSettings.py
sabot/localSettings.py
sabot/conferenceSettings.py
templates/sponsor/internalFaq.html
templates/sponsor/publicFaq.html
media/*
static/GitHub-Mark-32px.png
static/booths.jpg
d10env
