*.pyc
*.swp
test.db
*.log
sabot/settings.py
sabot/prodSettings.py
sabot/localSettings.py
sabot/conferenceSettings.py
templates/sponsor/internalFaq.html
templates/sponsor/publicFaq.html
*.db
media/*
static/GitHub-Mark-32px.png
d10env
