{% extends "master.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="page-header">
	<h2>Partner <small>{{object.contact.companyName}}</small></h2>
</div>
<ul class="nav nav-pills" style="margin-bottom: 10px">
	<li class="pull-right active"><a href="#">Your data</a></li>
	<li class="pull-right"><a href="{% url 'sponsor_faq' pk=object.pk %}">FAQ</a></li>
	<li class="pull-right"><a href="{% url 'sponsor_overview' pk=object.pk %}" data-toggle="tooltip" title="Overview of your partnership.">Overview</a></li>
</ul>
<div class="alert alert-info">
	If you have any problems with filling in the form or if you have any (general) questions, please don't hesitate to contact us via <a href="mailto:{{SPONSOR_MAIL}}">{{SPONSOR_MAIL}}</a>. Please do not enter questions in the form below because we might not directly see them there.
</div>

{% crispy form form.helper%}

<script>


function optOutFromHiddenFields() {
	$(".optOutIcon").each(function (idx) {
		// first find our form
		var form = $(this).closest("form");
		// now find the corresponding field
		var field = $(this).siblings(":first-child");
		var fieldname = field.attr("name");
		var optout = $(form).find("input[name='" + fieldname + "OptOut']");
		if (optout.val() == "True") {
			field.val("");
			field.prop("readonly", true);
			$(this).tooltip({ "title" : "Provide this information" });
		}
		else {
			$(this).tooltip({ "title" : "We don't provide this information" });
		}

	});
}



	$(document).ready(function () {
		$('a[href="' + window.location.hash + '"][data-toggle="tab"]').tab("show");
		if ($("#id_rtTicketId").length > 0) {
			if ($("#id_rtTicketId").val() != "") {
				var viewspan = $("<span class=\"input-group-addon\"><a href=\"{{RT_TICKET_URL}}" + $("#id_rtTicketId").val() + "\"><span class=\"glyphicon glyphicon-eye-open\"></span></a></span>");
				viewspan.insertAfter("#id_rtTicketId");
				$("#id_rtTicketId").parent().addClass("input-group");
			}
		}

		$('a[data-toggle="tab"]').click(function () {
			window.location.hash = $(this).attr("href");
		});

		$(".optOutIcon").click(function () {
			var form = $(this).closest("form");
			var field = $(this).siblings(":first-child");
			var fieldname = field.attr("name");
			var optout = $(form).find("input[name='" + fieldname + "OptOut']");
			if (optout.val() == "True") {
				optout.val("False");
				field.prop("readonly", false);
				$(this).attr("data-original-title", "We don't provide this information");
			}
			else {
				optout.val("True");
				field.prop("readonly", true);
				field.val("");
				$(this).attr("data-original-title", "Provide this information");
			}
		});
		optOutFromHiddenFields();

	});
</script>

{% endblock %}
