{% extends "master.html" %}
{% load url from future %}

{% block content %}

<div class="page-header">
<h2>Sponsoring FAQs</h2>
</div>
<ul class="nav nav-pills" style="margin-bottom: 10px">
<li class="pull-right"><a href=".">Your data</a></li>
<li class="pull-right active"><a href="#" data-toggle="tooltip">FAQ</a></li>
<li class="pull-right"><a href="overview" data-toggle="tooltip" title="Overview of your sponsoring.">Overview</a></li>
</ul>

<div class="alert alert-info">
This is a collection of the frequently asked questions regarding sponsoring FrOSCon. Since this is for all sponsors, topics may be referred which are not part of your sponsoring.</br>
This list is under permanent construction. The questions are aggregated under general topics. If you cannot find the answer to your question here, please contact us via <a href="mailto:{{SPONSOR_MAIL}}">{{SPONSOR_MAIL}}</a>.
</div>

<h4>Conference bags</h4>
<ul>
<li>
<h5>How many conference bags will be packed?</h5>
We will pack 1.500 bags.
</li>
<li>
<h5>I do not have enough material for every bag. What now?</h5>
It is no problem, if you cannot provide 1.500 pieces of what you intend to put in the bags. In this case we ensure that your material will be put into the first bags to be handed out. It is also prossible to provide several types of material which will be added alternatively or similar. Just let us know how it shall be handled.
</li>
</ul>
<h4>Exhibition booth</h4>
<ul>
<li>
<h5>What does an exhibition booth consists of?</h5>
You can define what you need in the "Your data > Booth" section. In general there is enough space for 2 tables with 4 chairs and up to 2 roll ups or similar.
</li>
<li>
<h5>Which measurements do the provided furniture have?</h5>
Tables: Width: 140cm, Height: 70cm, Depth: 75cm</br>
Bar tables: 90-100cm Radius
</li>
<li>
<h5>Is there a backplane?</h5>
Yes. You either will have a backplane consisting of pinboards or a concrete wall.
</li>
<li>
<h5>How big is the backplane?</h5>
The backplane consist of 4 pinboards, each 1.00m x 2.25m. Since the outer pinboards have to be placed angeled, the total width is a bit less than 4m.</br>
If you have a concrete wall behind your booth, you have about the same space.
</li>
<li>
<h5>Can I put up posters/banners at the backplane?</h5>
Yes, but ONLY with material provided by us. For the pinboards only special hook-and-sticky tape may be used and for concrete walls only easy removable tesa tape. Pins or duck tape are strictly forbidden!
</li>
</ul>
<h4>Recruiting event</h4>
<ul>
<li>
<h5>What does a recruiting event booth consists of?</h5>
One bar table. You may also set up 1 pull up banner.
</li>
</ul>
{% endblock %}
