(english version see below)

{% block greeting %}{% endblock %}

FrOSCon 11 - Am 20. und 21. August ist es wieder soweit

In diesem Jahr gibt es keine wesentlichen Änderungen. Daher nur kurz die 
Änderungen aus dem letzten Jahr, welche auch dieses Jahr bestehen bleiben:
* Freier Eintritt
* Recruitingsession

Was ist die FrOSCon?

Über 1600 Besucher kommen seit 2004 jedes Jahr zur FrOSCon - der Free and Open
Source Software Conference - ins Kölner Umland nach Sankt Augustin. Damit
gehört sie zu den größten ihrer Art in Deutschland. Stellen Sie ihr
Unternehmen vor und bereichern Sie unser Angebot an Workshops, Vorträgen und
Ständen.

Wann findet die FrOSCon 2016 statt?

Stattfinden wird die FrOSCon 2016 am 20. + 21. August
2016 in den Räumlichkeiten der Hochschule Bonn-Rhein-Sieg in Sankt Augustin. 

Sponsoring - Was ist möglich?

Alle Informationen rund um das Sponsoring findet ihr im angehängten Flyer. 
Das Design ist zwar neu, der Inhalt aber nicht.

Fragen oder Anregungen an uns? Zögern Sie nicht uns zu kontaktieren!

Viele Grüße,
das gesamte FrOSCon-Team


================================
{% block en_greeting %}{% endblock %}

FrOSCon 11 - On August 20th and 21st we will meet again

This year there won't be any big changes. Therefore we just want to remind you 
on the two main changes from last year, which we will keep up:
* Free Entry
* Recruiting session

What is the FrOSCon?

Since 2004, every year more than 1,600 visitors come to FrOSCon - the Free and
Open Source Software Conference in St Augustin near Cologne. This makes FrOSCon
one of the biggest events of its kind in Germany. Present your company and
enrich our offer of talks, workshops and exhibition.

FrOSCon 2016 - When?

FrOSCon 2016 shall take place at the 20nd and 21st of August 2015 at the University
of Applied Sciences Bonn-Rhein-Sieg in Sankt Augustin.

Sponsoring - What is possible?

All information regarding the sponsoring can be found in the attached flyer. The 
design is new, the content not so much.

Questions or suggestions? Don't hesitate to contact us!

Kind Regards,
the whole FrOSCon team
