{% extends "master.html" %}
{% block content %}

<div class="page-header">
	<h2>List of mail templates</h2>
</div>


<ul class="nav nav-pills">
	<li><a href="{% url 'sponsormail_new' %}"><span class="glyphicon glyphicon-plus"></span> Add a new mass mail template</a></li>
</ul>
<table class="table table-striped table-bordered table-hover tablesorter">
	<thead>
		<tr>
			<th>Mail name</th>
			<th>Content tempate</th>
			<th>Mail subject</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for tmpl in object_list %}
			<tr>
				<td>{{tmpl.mailTemplateName}}</td>
				<td>{{tmpl.template}}</td>
				<td>{{tmpl.mailSubject}}</td>
				<td>
					<a href="{% url 'sponsormail_update' pk=tmpl.pk %}" data-toggle="tooltip" title="Edit this mail template"><span class="glyphicon glyphicon-edit"></span></a>
					<a href="{% url 'sponsormail_del' pk=tmpl.pk %}" data-toggle="tooltip" title="Delete this mail template"><span class="glyphicon glyphicon-remove"></span></a>
				</td>
			</tr>
		{% endfor %}
	</tbody>

</table>
<script>
</script>

{% endblock %}
