{% load sponsor %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>{{CONFERENCE_NAME}} SaBoT</title>
		<meta charset="utf-8" />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
		<link rel="shortcut icon" href="/static/favicon.png">
		<link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="{{STATIC_URL}}tablesorter/themes/my/style.css" rel="stylesheet">
		<link href="{{STATIC_URL}}cfp.css" rel="stylesheet">
		<script src="{{STATIC_URL}}cfp.js" type="text/javascript"></script>
		<script src="{{STATIC_URL}}typeahead.bundle.js" type="text/javascript"></script>
		<link href="{{STATIC_URL}}typeahead.css" rel="stylesheet">
		<script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="{{STATIC_URL}}tablesorter/jquery.tablesorter.min.js" type="text/javascript"></script>
		<script src="{{STATIC_URL}}tablesorter/tablesorter.custom.js" type="text/javascript"></script>
		<script>
			$(document).ready(function () {
				$("[data-toggle=tooltip]").not("ul.nav a").not("label > span").tooltip();
				$("ul.nav a[data-toggle=tooltip], span[data-toggle=tooltip]").tooltip({ container: "body" });
				$(".multiYear-selector").click(function () {
					setConferenceYear($(this).data("year"));
				});
			});
			$.ajaxSetup({
				beforeSend: function(xhr, settings) {
					xhr.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
				}
			});
		</script>
	</head>
	<body>
		<div id="wrap">
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="container">
					<div class="navbar-header">
					<ul class ="nav navbar-nav">
					<li>
						{% if user.is_staff %}
						<a class="navbar-brand dropdown-toggle" data-toggle="dropdown" href="#">{{CONFERENCE_NAME}} {{active_year}} <b class="caret"></b></a>
						<ul class="dropdown-menu">
						{% for year in all_years %}
							<li><a href="#" data-year="{{year}}" class="multiYear-selector">{{year}}</a></li>
						{% endfor %}
						</ul>

						{% else %}
						<a class="navbar-brand" href="/">{{CONFERENCE_NAME}} {{active_year}}</a>
						{% endif %}
					</li>
					</ul>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							{% if user.is_authenticated %}
							<li><a href="/">Overview</a></li>
							<li><a href="/accounts/profile">My Profile</a></li>
							{% endif %}
							{% if user.is_authenticated and user.is_staff %}
								<li class="divider divider-vertical"></li>
								<li><a href="/accounts/list">Users</a></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Partner <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="/sponsors/list">Partnerlist</a></li>
										<li><a href="/sponsorcontacts/list">Partner contacts</a></li>
										<li><a href="/sponsorpackages/list">Partner packages</a></li>
										<li><a href="/invoice/invoices">Partner invoices</a></li>
										<li><a href="/documenttemplate/list">Document templates</a></li>
										<li><a href="/sponsordjangotemplates/list">Django templates</a></li>
									</ul>
								</li>
								<li><a href="/parcel/list">Parcel</a></li>

								<li><a href="/exhibitors/list">Exhibitors</a></li>
								<li><a href="/devrooms/list">Dev-Rooms</a></li>
							{% endif %}
						</ul>
						{% if user.is_authenticated %}
						<p class="navbar-right navbar-text">
							You are logged in as {{user.username}} (<a href="/accounts/logout"><span style="color: #999" class="glyphicon glyphicon-off"></span> Logout</a>)
						</p>
						{% endif %}
					</div>
				</div>
			</nav>
			<div class="container" style="padding-bottom: 60px;">
				{% block content %}No Content{% endblock %}
			</div>
		</div>
		<div id="footer">
			<div class="container">
				<span class="pull-left" style="margin-top: 20px; margin-right: 5px">
					FrOSCon SaBoT is 
					<a href="https://www.djangoproject.com/" target="_blank"><img src="https://www.djangoproject.com/m/img/badges/djangomade124x25_grey.gif" alt="Made with Django." title="Made with Django." /></a>
					<span style="padding-left:10px; margin-left:10px; border-left: 1px solid #999">
						Get/Contribute 
						<a href="https://github.com/froscon/SaBoT" target="_blank"><img src="{{STATIC_URL}}GitHub-Mark-32px.png" alt="GitHub" title="GitHub" /></a>
					</span>
				</span>
				<div class="pull-right">
					<span class ="pull-left" style="margin-top: 20px"><a href="https://froscon.org" target="_blank">froscon.org</a></span>
					<img src="{{STATIC_URL}}favicon.png" class="pull-left" style="margin-top: 5px; margin-left:10px; height: 50px" />
				</div>
			</div>
		</div>
	</body>
</html>

