{% extends "master.html" %}

{% block content %}
<div class="page-header">
	<h2>Confirm deletion</h2>
</div>
<div class="row">
<div class="col-md-3 centerbox">
		<form method="POST">
			{% csrf_token %}
			Do you really want to remove {{object.parcelService}}-{{object.trackingNumber}}? <br />
			<p class="text-danger">Only remove packets that were created as a mistake. We continue using this information after your packet arrived!</p>
			{{form.as_p}}
			<div class="form-actions">
				<button type="Submit" class="btn btn-danger">Delete</button>
				<a href="javascript:window.history.back();" class="btn">Cancel</a>
			</div>
		</form>
	</div>
</div>
{% endblock %}
