from pathlib import Path

# Build paths inside the project like this: BASE_DIR / 'subdir'.
BASE_DIR = Path(__file__).resolve().parent.parent

# Quick-start development settings - unsuitable for production
# See https://docs.djangoproject.com/en/2.0/howto/deployment/checklist/

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = '-gtwmk-@@d=l1wl35+3ahc_m*(u0o$-5+dyn=^qnb+2b17wc+e'

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True

ALLOWED_HOSTS = ['localhost', '127.0.0.1']

# Database
# https://docs.djangoproject.com/en/2.0/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': BASE_DIR / 'test.db'
    }
}


ADMINS = ()

LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'handlers': {
        'file': {
            'level': 'ERROR',
            'formatter': 'verbose',
            'class': 'logging.FileHandler',
            'filename': BASE_DIR / 'django.log',
        },
        'mail_admins': {
            'level': 'ERROR',
            'class': 'django.utils.log.AdminEmailHandler',
        },
    },
    'formatters': {
        'verbose': {
            'format': '%(levelname)s %(asctime)s %(module)s %(name)s %(process)d %(thread)d %(message)s',
        },
    },
    'loggers': {
        'django': {
            'handlers': ['file', 'mail_admins'],
            'level': 'ERROR',
            'propagate': True,
        },
    },
}

LANGUAGE_CODE = 'en-us'

TIME_ZONE = 'Europe/Berlin'

# Static files (CSS, JavaScript, Images)
# https://docs.djangoproject.com/en/2.0/howto/static-files/

STATIC_ROOT = BASE_DIR / "static-out"

MEDIA_ROOT = BASE_DIR / "media"


# One might want to disable hardened cookie options for local development
# REMOVE if this is a production site with https enabled.
CSRF_COOKIE_HTTPONLY = False
CSRF_COOKIE_SECURE = False

SESSION_COOKIE_SECURE = False

DEFAULT_COUNTRY = "Deutschland"

RT_USER = "rtbot"
RT_PASSWORD = ""
RT_URL = "https://management.froscon.org/rt/REST/1.0/"
RT_QUEUE = "Test"
RT_QUEUE_INVOICE = "Finanzen"
RT_TICKET_OWNER = "mlang"
RT_TICKET_URL = "https://management.froscon.org/rt/Ticket/Display.html?id="

SMSKAUFEN_UID = "froscon"
SMSKAUFEN_APIKEY = ""

INSTALL_MAIN_URL = "https://callforprojects.froscon.org"

ATTACHMENTS_ROOT = BASE_DIR / 'sponsor_attachments'

DEFAULT_FROM_EMAIL = "projects@froscon.org"

# Recaptcha config
RECAPTCHA_PUBLIC_KEY = ''
RECAPTCHA_PRIVATE_KEY = ''

# Import local development secrets (if available)
try:
    from sabot.privateSettings import *
except ImportError:
    pass
