{% load crispy_forms_field %}
{% if field.is_hidden %}
    {{ field }}
{% else %}
    <{% if tag %}{{ tag }}{% else %}div{% endif %} id="div_{{ field.auto_id }}" {% if not field|is_checkbox %}class="form-group{% else %}class="checkbox{% endif %}{% if wrapper_class %} {{ wrapper_class }}{% endif %}{% if form_show_errors%}{% if field.errors %} has-error{% endif %}{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">
        {% if field.label and not field|is_checkbox and form_show_labels %}
            <label {% if field.id_for_label and not field|is_radioselect %}for="{{ field.id_for_label }}" {% endif %} class="control-label {{ label_class }}{% if field.field.required %} requiredField{% endif %}">
                {{ field.label }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
            </label>
        {% endif %}


        <div class="controls {{ field_class }} input-group">
            {% crispy_field field 'class' 'form-control' %}
            <span class="glyphicon glyphicon-ban-circle input-group-addon optOutIcon" style="pointer-events: auto" aria-hidden="true"></span>
            {% include 'bootstrap3/layout/help_text_and_errors.html' %}
        </div>
    </{% if tag %}{{ tag }}{% else %}div{% endif %}>
{% endif %}